<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-4" th:fragment="fragment-navi">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/view/certis">인증서 조회</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view/certis/reg">인증서 등록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view/customers">고객 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view/email-setting">이메일 설정</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">발송관리</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>