<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: fragment-header">
</head>
<body>
    <div th:replace="/fragments/navi.html :: fragment-navi"></div>
    <div class="container" style="max-width: 1200px">
        <div class="text-center">
            <h2>인증서 조회</h2>
        </div>

        <form class="d-flex my-1" th:action="@{|/view/certis|}" method="get">
            <input class="form-control me-2" name="keyword" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <div class="row">
            <div class="col">
                <button class="btn btn-primary float-end"
                        th:onclick="|location.href='@{/view/certis/reg}'|"
                        onclick="location.href='addForm.html'" type="button">인증서 등록
                </button>
            </div>
        </div>
        <hr class="my-4">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>ALIAS</th>
                    <th>PUBLISHER</th>
                    <th>CREATED</th>
                    <th>EXPIRE</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${certifications.getCertificationDtos()}">
                    <td><a th:href="@{|/view/certis/${item.getId()}|}"
                           th:text="${item.getId()}">1</a></td>
                    <td><a th:text="${item.getAlias()}">123</a></td>
                    <td th:text="${item.getPublisher().getName()}">123</td>
                    <td th:text="${#temporals.format(item.getCreatedDate(), 'yyyy-MM-dd HH:mm:ss')}">123</td>
                    <td th:text="${#temporals.format(item.getExpireDateTime(), 'yyyy-MM-dd HH:mm:ss')}">123</td>
                </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center"
                th:with="
            start=${(certifications.getCurPage() / 10) * 10},
            last=(${certifications.getCurPage() / 10 * 10 + 9 < certifications.getTotalPage() ? (certifications.getCurPage() / 10) * 10 + 9 : certifications.getTotalPage()})
            ">

                <li class="page-item">
                    <a class="page-link"  th:href="@{|/view/certis?page=0|}" aria-label="Next">
                        <span aria-hidden="true">START</span>
                    </a>
                </li>

                <li th:class="${certifications.isFirst()} ? 'page-item disabled' : 'page-item' " >
                    <a class="page-link" th:href="@{|/view/certis?page=${certifications.getCurPage()-1}|}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(start, last)}"
                    th:class="${page == certifications.getCurPage()} ? 'page-item active' : 'page-item'">
                    <a class="page-link" th:text="${page + 1 }" th:href="@{|/view/certis?page=${page}|}"></a>
                </li>

                <li th:class="${certifications.isLast()} ? 'page-item disabled' : 'page-item' ">
                    <a class="page-link"  th:href="@{|/view/certis?page=${certifications.getCurPage()+1}|}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link"  th:href="@{|/view/certis?page=${certifications.getTotalPage()}|}" aria-label="Next">
                        <span aria-hidden="true">END</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div> <!-- /container -->

</body>
</html>